*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;

}
body{
    height: 100%;
}
:root{
    --black: #14110F;
    --gray: #34312D;
    --white: #F3F3F4;
    --sand: #ebe1d8;
    --light-gray: #7E7F83;
    --orange: rgb(250, 165, 62);
    --blue: #0a2641;
    --ligh-blue: rgb(101, 155, 255);
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: var(--orange);
}
.links a{
    font-size: 16px;
}
h1, h2, h3, h4, ul, a, textarea, input, p{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--gray);
    height: 100vh;
}
aside {
    background-color: var(--sand);
    position: sticky;
    height: 100vh; /* Modificación: asegurar que aside ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; /* Modificación: ajuste del padding para evitar desbordamiento */
}
.aside{
    padding: 5px;
    padding-right: 0;
    padding-bottom: 0;

}
header{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.logo{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 2rem;
    /*margin-left: 1.5rem;*/

}
.logo-img{
    height: 190px;

}
.links{
    margin-bottom: 1.5rem;
}
#icono{
    margin: 5px;
    color: var(--orange);
}
.boton-navbar{
    background-color: var(--gray);
    border: none;
    display: flex;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.boton-navbar a{
    color: var(--white);
    margin: 5px;
}
.boton-navbar a:hover{
    color: var(--orange);
}
.boton-nav-productos{
    background-color: transparent;
    border: none;
    font-size: 15px;
    margin: 5px;
}
footer {
    padding: 1rem;
    background-color: var(--black);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 1rem; /* Espaciado entre los íconos */
    margin: 0;
}
#footer-ig {
    color: rgb(252, 1, 192);
}
#footer-ig:hover {
    color: var(--orange);
}
#footer-fb {
    color:rgb(8, 102, 255);
}
#footer-fb:hover {
    color: var(--orange);
}
#footer-wa {
    color: #25D366;
}
#footer-wa:hover {
    color: var(--orange);
}

main{
    margin: 0;
    padding: 0;
    overflow: auto;
}
.div-main{
    color: var(--white);
    padding: 2rem;
}
/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    padding: 0.5rem;
    margin-bottom: 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que esté por encima del contenido principal */
}

.search-input-container {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
    margin-left: auto;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}

.search-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--gray);
    color: var(--white);
}

.search-input::placeholder {
    color: var(--light-gray);
}

.search-input:focus {
    outline: none;
}

.search-input:focus + .search-icon {
    display: none;
}

.titulo-pages {
    display: flex; /* Alinea los hijos en línea */
    align-items: center; /* Centra verticalmente a los hijos */
    padding: 0rem;
    padding-left: 1.5rem;
}

.titulo-principal {
    color: var(--white);
    margin-right: 0.5rem;
    margin-left: 0;
    font-size: 25px;
    padding-left: 0 !important;
}

#online {
    color: var(--orange);
    font-family: "Alkatra" !important;
    font-size: 25px;
    margin-top: 0.3rem;
    padding-top: 3px;
    text-decoration: underline;
}

.bi-chevron-compact-right {
    color: var(--ligh-blue); /* Cambia el color a azul */
    font-size: 35px; /* Tamaño del ícono */
    margin: 0 0.5rem; /* Espaciado horizontal */
    padding-top: 7px;
}

.page-name {
    color: var(--white); /* Color blanco */
    font-family: "Alkatra" !important; /* Usa la misma tipografía que "online" */
    font-weight:100 !important; /* Estilo de fuente más delgada */
    font-size: 20px;
    text-decoration: none; /* Sin subrayado */
    padding-top: 9px;
}

.contenedor-productos{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 1rem;

}
.producto-imagen{
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin: 0;
}
.producto-detalles{
    background-color: var(--orange);
    color: var(--black);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin-top: 0;
}
.link-producto-menu:hover .producto-detalles{
    background-color: var(--blue);
    color: var(--white);
    
}

a{
    color: var(--black);
}
.titulo-productos{
    margin-top: 1rem;
}
.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.slide img {
    width: 100%;
    height: 500px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    display: block;
}

.description-carrusel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--orange);
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 20px); /* Ajuste para el padding */
    box-sizing: border-box;
}



/*Estilos divs página de contacto*/
.sucursales {
    margin: 20px; /* Margen exterior para separar del borde de la ventana */
}

.titulo-contacto {
    margin-bottom: 10px; /* Espacio debajo del título */
    text-decoration: underline;
}

.info {
    display: flex; /* Mostrar los íconos y textos en línea */
    align-items: center; /* Alinear verticalmente al centro */
    margin-bottom: 10px; /* Espacio debajo de cada línea */
}

.info i {
    font-size: 1.5rem; /* Tamaño del ícono */
    margin-right: 5px; /* Espacio a la derecha del ícono */
}
#whats-contacto{
    color:#25D366;
}
#maps-contacto{
    color: rgb(201, 41, 41);
}

.info a {
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: var(--white); /* Color blanco para el número de whatsapp */
    margin-left: 5px;
}
.info a:hover {
    color: var(--orange);
}

.info p {
    margin: 0; /* Eliminar el margen predeterminado de los párrafos */
    color: var(--white); /* Color blanco para la dirección */
    margin-left: 5px; /* Espacio a la izquierda de la dirección */
}
iframe {
    margin-bottom: 3rem;
    height: 400px;
    width: 800px;
}

/* Media Queries */

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    aside {
        position: relative;
        height: auto;
        padding: 1rem;
    }

    .logo-img {
        height: 100px;
    }

    .boton-navbar {
        justify-content: center;
        font-size: 14px;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .slide img {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .search-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .contenedor-productos {
        grid-template-columns: 1fr;
    }

    .slide img {
        height: 250px;
    }
}